*{
    /* border: 1px solid black; */
    padding: 0px;
    margin: 0px;
    
}
body{
    background-image: url(./images/logged.jpg);

   background-repeat: no-repeat;
   background-attachment: fixed;
  
   background-size: cover;
   

}
.con2{
    display: flex;
}

.mainn{
    box-shadow: 2px 2px 12px 2px rgb(0, 0, 0);
    border-radius: 20px;
   
}
.txtt{
    color: blue;
    text-shadow: 2px 2px 4px  rgb(231, 134, 134);
    font-family: 'Staatliches', cursive;
    font-size: 40px;
}

.tes{
color: blue;
font-size: 18px;
font-family: 'Staatliches', cursive;

}
.tet{
    font-size: 28px;
    font-family: 'Staatliches', cursive; 
}
.iSource{
    padding-right:6rem 
}
.iSource1{
    padding-right:2rem 
}
.inp{
    box-shadow: 1px 1px 2px 1px black;
}
.log{
    margin-left:55rem ;
}
.bgg{
    background-color: rgb(150, 194, 211);
}
@media only screen and (max-width: 600px){
    .con2{
        display: flex;
        flex-direction: column;
     
        
     
    }
    .log{
        margin-left:100px;
    }
    .table2{
        margin-left:20px;
    }
    .col_1{
        margin-left:50px;
    }
    .clr{
        margin-bottom:10px;
        margin-left:60px;
    }
    
    
 @media only screen and (max-width: 500px){
    .col__4{
        width:500px;
        height: 500px;
        font-size: 19px;
    }
    .col__5{
        margin-left:100px;
        width:500px;
        height: 500px;
        font-size: 19px;
    }
 }     
 @media only screen and (max-width: 700px){
    .con2{
        display: flex;
        flex-direction:column;
      
    }
    .log{
        margin-left:100px;
    }
    .table2{
        margin-left:20px;
    }
    .col_1{
        margin-left:50px;
    }
    .clr{
        margin-bottom:10px;
        margin-left:60px;
    }
 }   
 @media only screen and (max-width: 600px){
    .col__4{
        width:500px;
        height: 500px;
        font-size: 19px;
    }
    .col__5{
        margin-left:100px;
        width:500px;
        height: 500px;
        font-size: 19px;
    }
 }     
  
 @media only screen and (max-width:650px){
    .col__4{
        width:500px;
        height: 500px;
        font-size: 19px;
    }
    .col__5{
        margin-left:100px;
        width:500px;
        height: 500px;
        font-size: 19px;
    }
 }     
 
 @media only screen and (max-width: 500px){
    .col__5{
        margin-left:100px;
        width:500px;
        height: 500px;
        font-size: 19px;
    }
 }     
}